body {
	background-color: #f9f9f9;
	width: 1920px;
	height: 723px;
}

.block {
	display: flex;
	margin: auto;
	width: 1140px;
	height: 723px;
	justify-content: space-between;
	align-items: center;
}

.name {
	text-align: center;
	padding-top: 100px;
}

.cutter {
	display: flex;
	flex-direction: column;
	height: 366px;
	text-align: center;
}

.cutter span {
	padding-top: 25px;
}


.cutter button {
	border: 1px solid #23bac1;
	width: 200px;
	height: 55px;
}